body {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
}

input {
    border: 1px solid black;
    padding: 10px;
    margin-right: 8px;
    outline: none;
    font-size: large;
    color: grey;
    border-radius: 20px;
}


input:focus {
    background-color: transparent;
    /* border: 2px solid rgb(74, 222, 222); */
    border: 1px solid rgb(22, 22, 218);
    color: black;
}

button {
    padding: 10px;
    height: 2.8rem;
    padding-right: 30px;
    padding-left: 30px;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}

button:active {
    transform: scale(1.1);
}

button:hover {
    background-color: green;
}
